@charset "ISO-8859-1";

th {
	color: black;
}

td {
	border: 10px solid gray;
	height: 60px;
	background-color: white;
	text-align: center;
}

table {
	position: absolute;
	left: 125px;
	top: 200px;
	width: 80%;
	border-collapse: collapse;
	border-top: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #04AA6D;
}

.order {
	background-image: url("../Images/showorder.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.hh {
	text-align: center;
}

.take {
	text-align: center;
}

.order {
	display: inline-block;
}