@charset "ISO-8859-1";
label {
	width: 130px;
	display: inline-block;
}

form {
	top: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.total {
	background-color: pink;
}

.date {
	font-family: 'Ubuntu', 'Lato', sans-serif;
	/* Size and position */
	width: 300px;
	position: relative;
	margin: 60px auto 30px;
	padding: 10px;
	/* Styles */
	background: linear-gradient(110deg, white 60%, lightpink 60%);
	border-radius: 0.4em;
	box-shadow: 0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.title {
	text-align: center;
}
